[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyquery = "*"
fake-useragent = "*"
batch-football-data = "*"
selenium = "*"

[dev-packages]
pytest = "*"
assertpy = "*"
mypy = "*"
pylint = "*"
pycodestyle = "*"
pyflakes = "*"
pytest-cov = "*"
bandit = "*"
responses = "*"

[requires]
python_version = "3.11"
